{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'flickity.min.js' | asset_url | script_tag }}
{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% assign ss = section.settings %}

<div class="feat-coll">
  <div class="feat-coll-container">
    <div class="feat-coll-header">
      {% if ss.title %}
        <h2>{{ ss.title }}</h2>
      {% endif %}
      <h2></h2>
      <a href="#">View All</a>
    </div>

    <div class="feat-coll-carousel">
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
      <div class="carousel-cell">...</div>
    </div>
  </div>
</div>

<script>
  var elem = document.querySelector('.feat-coll-carousel');
  var flkty = new Flickity( elem, {
    // options
    cellAlign: 'left',
    contain: true,
    wrapAround: true,
    groupCells: 2
  });
</script>

{% schema %}
{
  "name": "Feat Collection Slider",
  "settings": [
    {
      "type": "header",
      "content": "Feat Collection Slider"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Feat Collection Slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
