{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}

<div class="feat-coll">
  <div class="feat-coll-container">
    <h2>Tom</h2>
  </div>
</div>

{% schema %}
{
  "name": "Feat Collection Slider",
  "settings": [
    {
      "type": "header",
      "content": "Feat Collection Slider"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Feat Collection Slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
