.feat-coll {
  padding: 75px 0;
}

@media all and (min-width: 1025px) {
  .feat-coll {
    padding: 152px 0;
  }
}

.feat-coll-container {
  width: 100%;
  display: block;
  max-width: 1244px;
  margin: 0 auto;
  position: relative;
}

.feat-coll h2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}