* {
  box-sizing: border-box;
}

.feat-coll {
  padding: 50px 0;
}

@media all and (min-width: 1025px) {
  .feat-coll {
    padding: 152px 0;
  }
}

.feat-coll-container {
  width: 100%;
  display: block;
  max-width: 1244px;
  margin: 0 auto;
  position: relative;
  padding: 0 17px;
}

.feat-coll .feat-coll-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media all and (min-width: 1025px) {
  .feat-coll .feat-coll-header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.feat-coll .feat-coll-header h2 {
  margin: 0 0 12px 0;
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

@media all and (min-width: 1025px) {
  .feat-coll .feat-coll-header h2 {
    font-size: 48px;
    margin: 0 0 12px 20px;
  }
}

.feat-coll .feat-coll-header a {
  font-family: Roboto;
  font-weight: 400;
  color: #434343;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
}

@media all and (min-width: 1025px) {
  .feat-coll .feat-coll-header a {
    font-size: 18px;
  }
}

.feat-coll .feat-coll-carousel {
  box-shadow: none !important;
}

.feat-coll .feat-coll-carousel .carousel-cell {
  width: 80%;
  padding: 14px 18px;
  margin: 30px 10px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px #0000001A;
}

.feat-coll .feat-coll-carousel .carousel-cell:first-of-type {
  margin: 30px 10px 10px 17px;
}

.feat-coll .flickity-slider {
  left: 17px !important;
}

@media all and (min-width: 768px) {
  .feat-coll .flickity-slider {
    left: 0 !important;
  }

  .feat-coll .feat-coll-carousel .carousel-cell {
    width: 300px;
  }

  .feat-coll .feat-coll-carousel .carousel-cell:first-of-type {
    margin: 30px 10px;
  }
}

.feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-image {
  width: 100%;
  display: block;
  aspect-ratio: 1.5;
  border-radius: 10px;
  background: #c1c1c1;
  position: relative;
  overflow: hidden;
}

.feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-image img {
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;
}

.feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-title h3 {
  margin: 20px 0 12px 0;
  font-family: Futura;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-description p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;  
  color: #000000;
  margin: 0 0 26px 0;
}

.feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-flavour p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;   
  margin: 0 0 14px 0;
  color: #000000;
}

.feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-cta {
  display: block;
  width: 100%;
  appearance: none;
  outline: none;
  border: none;
  background-color: #8FF695;
  text-align: center;
  padding: 12px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media all and (min-width: 1025px) {
  .feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-cta {
    cursor: pointer;
  }
}

.feat-coll-carousel .flickity-page-dots li {
  opacity: 1;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  background: #EBEBEB;
}

.feat-coll-carousel .flickity-page-dots li.is-selected {
  background: #8FF695;
}