* {
  box-sizing: border-box;
}

.feat-coll {
  padding: 50px 0;
}

@media all and (min-width: 1025px) {
  .feat-coll {
    padding: 152px 0;
  }
}

.feat-coll-container {
  width: 100%;
  display: block;
  max-width: 1244px;
  margin: 0 auto;
  position: relative;
  padding: 0 17px;
}

.feat-coll .feat-coll-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media all and (min-width: 1025px) {
  .feat-coll .feat-coll-header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.feat-coll .feat-coll-header h2 {
  margin: 0 0 12px 0;
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

@media all and (min-width: 1025px) {
  .feat-coll .feat-coll-header h2 {
    margin: 0;
    font-size: 48px;
  }
}

.feat-coll .feat-coll-header a {
  font-family: Roboto;
  font-weight: 400;
  color: #434343;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
}

@media all and (min-width: 1025px) {
  .feat-coll .feat-coll-header a {
    font-size: 18px;
  }
}

.feat-coll .feat-coll-carousel {
  box-shadow: none !important;
}

.feat-coll .feat-coll-carousel .carousel-cell {
  padding: 14px 18px;
  margin: 20px 10px;
  border-radius: 20px;
  width: calc(25% - 20px);
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px #0000001A;
}

.feat-coll .feat-coll-carousel .carousel-cell .carousel-cell-image {
  width: 100%;
  display: block;
  aspect-ratio: 1.5;
  background: #c1c1c1;
}

